
@{
    ViewBag.Title = "期末報告";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/Layout.css" rel="stylesheet">

<title>低價屋</title>
<div class="index">
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">    
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>低</span>價屋</h1>
                                    <h2>仿製原價屋官網</h2>
                                    <p>販賣高單價 低品質的電腦零件 </p>
                                    <p><a class="btn btn-default" href="https://localhost:44304/DepEmp">前往低價屋</a></p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Images/coolpc7.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>低</span>價屋</h1>
                                    <h2>仿製原價屋官網</h2>
                                    <p>販賣高單價 低品質的電腦零件 </p>
                                    <p><a class="btn btn-default" href="https://localhost:44304/DepEmp">前往低價屋</a></p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Images/coolpc2.jpg" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>低</span>價屋</h1>
                                    <h2>仿製原價屋官網</h2>
                                    <p>販賣高單價 低品質的電腦零件 </p>
                                    <p><a class="btn btn-default" href="https://localhost:44304/DepEmp">前往低價屋</a></p>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Images/coolpc3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
</div>

<!--分隔線-->
<div class="design_section layout_padding">
                <div class="container">
                    <h1 class="design_taital">低價屋</h1>
                    <p class="design_text">「低價屋」專售低品質高單價的電腦零件。讓您以不優惠價格購買高性能配件，為您的電腦帶來卓越效能。</p>
                </div>       
</div>


<div class="about_section layout_padding">
    <div class="container">
        <div class="about_section_2">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/lowpc1.jpg">
                </div>
                <div class="col-md-6">
                    <h1 class="about_taital">關於我們</h1>
                    <p class="about_text">販賣路邊撿到的電腦零件，保證價格高品質低</p>
                    <p><a class="btn btn-default" href="https://localhost:44304/Guestbooks/index">聯絡我們</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
